<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>We Are Still Cool | Home</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
        <link rel="stylesheet" href="./styles.css" type="text/css">
    </head>
    <body>
        <h1 class="app-title">We Are Still Cool</h1>
        <nav>
            <ul>
                <% if (user) {%>
                <li><a href="/auth/logout">Log Out</a></li>
                <%} else {%>
                <li><a href="/auth/login">Log In</a></li>
                <%} %>
                <li><a href="/">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/meetups">Meetups</a></li>
                <li><a href="/forums">Forums</a></li>
                <li><a href="/reviews">Reviews</a></li>
            </ul>

        </nav>
        <header>
            <h1>We Are Still Cool</h1>
            <h2>Make friends with other parents, because we are still cool</h2>
        </header>
        <main>
            <div id="pictureFrame">
                <img src="https://postmediacanadadotcom.files.wordpress.com/2015/01/kids_birthdayparty1024.jpg?w=660">
            </div>
            <div id="container">
            <p>Welcome!  Step in to our community that connects you with other parents in your area.  View upcoming meetups, chat over on the forums, or check out product reviews from other parents like yourself.  Come for the fun, stay for the lulz.  Parents can be cool too!</p>
            <p>This site is full of the following:</p>
            <ul>
                <li>Friends</li>
                <li>Events</li>
                <li>Community</li>
                <li>I Can Has Cheezburger?</li>
            </ul>
            </div>
        </main>

    </body>
</html>