<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>We Are Still Cool | Meetups</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
        <link rel="stylesheet" href="./styles.css" type="text/css">
    </head>
    <body>
        <h1 class="app-title">We Are Still Cool</h1>
        <nav>
            <ul>
                <% if (user) {%>
                <li><a href="/auth/logout">Log Out</a></li>
                <%} else {%>
                <li><a href="/auth/login">Log In</a></li>
                <%} %>
                <li><a href="/">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/meetups">Meetups</a></li>
                <li><a href="/forums">Forums</a></li>
                <li><a href="/reviews">Reviews</a></li>
            </ul>

        </nav>
        <header>
            <h1>Meetups, Events, Calendars</h1>
            <h2>Find FaceBook, Meetup and WASC events in your area</h2>
        </header>
        <main>
            <img src="calendar.png" class="fullscreen" alt="Blank Calendar placeholder">
        </main>

    </body>
</html>