@import url('https://fonts.googleapis.com/css?family=Averia+Libre:300|Emilys+Candy|Raleway|Lato');

body {
  /*font-family: arial;*/
  font-family: 'Lato', helvetica, arial, sans-serif;
  font-size: 1.1em;
  line-height: 1.15em;
  margin: 0;
  background: #e6f5ff;
  background-image: url("notebook.png");
  background-repeat: repeat;
}
nav {
  background: #4db8ff;
  padding: 20px 10px;
}
nav ul {
  margin: 0;
  display: inline-block;
}
nav li {
  list-style-type: none;
  display: inline-block;
  margin: 0 10px 0 0;
}
nav a {
  color: #fff;
  font-size: 14px;
  background: #007acc;
  text-decoration: none;
  padding: 10px;
  display: block;
}
main, header {
  max-width: 960px;
  margin: 30px auto;
  padding: 0 10px;
  color: #333;
}

.app-title {
  float: right;
  display: inline-block;
  text-align: center;
  padding: 10px 40px;
  font-family: 'Emilys Candy', cursive;
  text-shadow: 2px 2px 5px white, -2px -2px 5px white;
}

h1, h2 {
    font-family: 'Averia Libre', cursive;
}

p {
  font-family: 'Raleway', helvetica, arial, sans-serif;
}

a {
  font-family: 'Lato', helvetica, arial, sans-serif;
}

.google-btn {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  background: #007ACC;
  line-height: 2em;
}

img.fullscreen,
iframe.fullscreen {
  width: 100%;
}

span.label {
  font-weight: bold;
}

iframe {
  border: none;
  height: 1000px;
}